{{!-- homepage.handlebars --}}
{{! Homepage }}
<div class="container">
  <div class="row homepage-main">
    {{#each blogPosts as |blogPost|}}
      <div class="row mb-4 project card text-dark shadow">
        <div class="card-header">
          <h3 class="descrip-title">
            <a href="/blogPost/{{blogPost.id}}">{{blogPost.title}}</a>
          </h3>
          <p><h6>Created by</h6>
            {{blogPost.user.name}}
            <h6>on
            {{format_date blogPost.date_created}}</p>
        </div></h6>
        <div class="card-body">
          <p class="descrip">{{blogPost.description}}</p>
        </div>
      </div>
    {{/each}}
  </div>
</div>
